/* * {
  border: 1px solid teal;
} */

nav {
  /*display: none;*/
}

img {
  max-width: 175px;
  height: 125px;
}

section  {
  display: flex;
  flex-wrap: wrap; /* this allows for each div named card to wrap to the next line */
  justify-content: space-around;
}

.container {
  display: flex;
  justify-content: space-around;
}

aside {             /* allows to center nav*/
  min-width: 20%;
  display: flex;  
  align-items: center;
  justify-content: center;
}